arabic-reshaper==3.0.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.1
asn1crypto==1.5.1
brotli==1.2.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.9
click==8.4.2
colorama==0.4.6
crispy-tailwind==1.0.3
cryptography==49.0.0
cssbeautifier==2.0.3
cssselect2==0.9.0
diff-match-patch==20241021
dj-database-url==3.1.2
Django==6.0.6
gunicorn==23.0.0
django-crispy-forms==2.6
django-import-export==4.4.1
django-jazzmin==3.0.4
django-simple-history==3.8.0
djlint==1.40.4
EditorConfig==0.17.1
fonttools==4.63.0
html5lib==1.1
idna==3.18
jsbeautifier==2.0.3
json5==0.15.0
lxml==6.1.1
oscrypto==1.3.0
pathspec==1.1.1
pillow==12.2.0
pycparser==3.0
pydyf==0.12.1
pyHanko==0.35.2
pyhanko-certvalidator==0.31.1
pypdf==6.14.2
pyphen==0.17.2
python-bidi==0.6.11
python-dotenv==1.2.2
PyYAML==6.0.3
regex==2026.6.28
reportlab==4.5.1
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
svglib==2.0.2
tablib==3.9.0
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2026.2
tzlocal==5.4.4
uritools==6.1.2
urllib3==2.7.0
webencodings==0.5.1
whitenoise==6.9.0
zopfli==0.4.3
